body {
    background-color: #000022;
}

.custom-link {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.custom-link:hover {
    color: white;
    text-decoration:  none;
    border-bottom: 1px solid orange;
}

.custom-link:focus {
    color: white;
    text-decoration:  none;
}

.custom-link-active {
    border-bottom: 1px solid orange !important;
}

.helper-text {
    font-size: 0.7em;
    color: white;
}

.table-row:hover {
    background-color: #000010;
}

.cell-top-week-width {
    width: 30px !important;
}

.transaction-background {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 10, 0.9);
}

.transaction-block {
    width: 600px;
    padding: 20px;
    margin: 100px auto;
    background-color: #000022;
    color: white;
}

.buy-border {
    border: 1px solid #00b050;
}

.buy-bg {
    background-color: #00b050;
}

.buy-color {
    color: #00b050;
}

.sell-border {
    border: 1px solid #a303eb;
}

.sell-bg {
    background-color: #a303eb;
}

.sell-color {
    color: #a303eb;
}

.hidden {
    display: none;
}

.auth-block {
    position: absolute;
    left: 35%;
    top: 40%;
}

.login-button {
    color: #ffc000;
    background-color: #45a3d7;
    font-size: 2em;
    padding: 20px;
    border-radius: 10px;
}

.auth-background {
    top: 30%;
    background-color: #000022;
    border: 2px solid #45a3d7;
    width: 30%;
    height: 40%;
}

.welcome-line {
    padding: 5px 0px;
    margin-top: 20px;
    
}

.cornflower-blue-bg {
    background-color: #45a3d7 !important;
}

.dark-purple-3-bg {
    background-color: #232f51;
}

.dark-cornflower-blue-3-bg {
    background-color: #31538f !important;
}

.dark-cornflower-blue-3-border {
    border: 1px solid #31538f;
}

.purple-bg {
    background-color: #a303eb;
}

.green-11-bg {
    background-color: #00b050;
}

.dynamic-positive {
    color: #00b050;
}

.dynamic-negative {
    color: #a303eb;
}

.light-blue-color {
    color: #d8e2f3;
}
